

#socialMedia {
    background-color: green;
}

.services {
    text-align: center;
    overflow:hidden;
    max-height: 100%;
    height:6vw;
    position:flex;
    width:90%;
    margin:0;
    display:inline-block;
  }

.services li {
    width: 6vw;
    height: 6vw;
    display: inline-block;
    list-style: none;
  }
.services li div {
    width: 6vw;
    height: 4vw;
    font-size: 3vw;
    text-align: center;
    line-height: 1vw;
    transition: all 0.5s ease;
  }

.services li div:hover {
    transform: rotate(360deg);
  }
.services li span {
    color: #fff;
    text-transform: uppercase;
    font-size: 1vw;
    display: block;
    padding: 0.8vw 0px;   
    text-align: center;
    position:relative;
  }
