
#quote{
  font-family: 'Lato', cursive;;
  color:white;
  font-size:1vw;
  width:95%;
  text-align: justify;
}

#quote-button{
  width:6vw;
  height:1.5vw;
  font-size:0.8vw;
  padding:0;
  opacity:0.8;
  color:black;
  background-color: white;
  font-family: 'Lato'
}
#speaker{
  color:white;
  font-size:0.8vw;
  font-family: 'Lato', sans-serif;

}

#quote-button:hover{
  background-color:white;
  border: 2px solid white;
  color:black;
}

.btn-lg{
  margin-right: 0;
  background-color:rgba(78, 84, 91, 0.5);
  box-shadow: none;
  border-radius: 5px;
}



.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
  background-color: transparent;
  color: #EDF2ED;
  border-color: #EDF2ED !important;
}


/* Padding for spacing */
.inner {
  padding: 1.5em 5em;
}

.lead{
  margin-bottom:0
}
.quoteBox {
  background-color: rgba(13, 14, 15, 0.6);
  padding: 0.8vw;
  padding-bottom:0.2vw;
  width:83%;
  display:block;
  margin: 0 auto;
}





