/* Header */
@import url('https://fonts.googleapis.com/css?family=Raleway:800&display=swap');
.large-header {
  position: relative;
  width: 100%;
  background: #fff;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}
.thin{
  font-size:1.4vw;
  font-family:'Lato';
  font-weight: 300;
}
.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #ffd700;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.demo-1 .main-title {
  font-size: 4.2em;
  letter-spacing: 0.1em;
}

#large-header h1 {
  position: absolute;
  font-size:1.7vw !important;
  font-family:'Raleway' !important;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  color: white;
  width: 100%;
  left: 0;
  font-size: calc(1rem + 3vw);
}

#large-header {
  background-image: url("../images/beber-bebida-copa-1638775.jpg");
  background-size: cover;
  background-position: center center;
}

.demo a {
  position: absolute;
  bottom: 10px;
  z-index: 2;
  color: #fff;
  font-family : 'Lato', sans-serif;
  font-size:1.2vw;
  font-weight: 300;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .8;
  color:gold;
}
#section07{
  margin-left:47%;

}
  #section07 a {
  padding-top: 80px;
}
#section07 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#section07 a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#section07 a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
#section07 a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


