.checkmarklist {
  margin-bottom: 10px;
  list-style-type: none;
  font-size:1.27vw;
  font-family: "Open Sans Condensed";
}
.checkmarklist:before {
  font-family: FontAwesome;
  content: '\f00c';
  font-size:1vw;
  color: white;
  background-color: #e74c3c;
  display: inline-block;
  margin-right: 10px;
  padding: 2.5px;
  opacity: 0.9;
  border-radius: 70%;
}
.box {
  display: flex;
  width: 100%;
  height: 2px;
}

.box-sm {
  height: 3px;
  margin: 0;
  flex-grow: 1;
  transition: all .8s ease-in-out;
  cursor: pointer;
}

.box-sm:hover {
  flex-grow: 12;
}

.post {
  margin-bottom: 50px;
}
.post h2,
.post p {
  text-align: center;
  margin-bottom: 0px;
}
.post h2 {
  font-size: 60px;
  color: #E0E0E0;
  text-shadow: 0px 1px 1px black;
}

.orangeRed {
  background-color: #FF5852;
}

.orange {
  background-color: #FF9000;
}

.yellow {
  background-color: gold;
}

.green {
  background-color: #3DCD49;
}

.blue {
  background-color: rgb(22, 144, 148);
}

.hotpink {
  background-color: hotpink;
}

