@media screen and (max-width: 800px){

  #buttonContainer{
    display: table;
    margin: auto;
    
  }
  .btn--border{
    margin-right:10px !important
  }
  .btn {
    padding: 7px 20px;
    font-size: 2vw;
    cursor: pointer;
    position: relative;
    border: 2px solid transparent;
    outline: none;
    width:30vw;
    color: white;
    background-color: #e74c3c;
    margin: 0 auto;
    opacity:0.8;
    display:inline-block;
    font-family: "Lato";
    white-space: nowrap;
    box-shadow: 0 2px 218px #d15a4d;
  }

  #buttonLineBreak{
    display:none
  }

.quoteBox{
  display:none
}

#large-header{
  display:none
}
.upperScreen{
  display:block !important
}
.jumbotron {display:none} /*we don't display the animated division that includes the title and the boucing down subtitle*/ 

#righthalf {height:auto;position:static;right:0;width:100%}
   
.nav2 a{font-size:5vw;padding: 1.5vw;}

.icons{margin:0 auto} /*center the icons*/

.wrap1{margin:0 auto} /*center the cv box*/

.homeHeading {font-size:3vw }

#Summary{
  font-size:2.5vw;
}

.fa-home ,.fa-file {display:none !important;}
	
.EdTable {border-spacing: 10px}



#quote{
  font-size:2.2vw !important;
}

#speaker{
  font-size:1.5vw;
}



.skillName{
  font-size:2.6vw !important
}
.skillName svg{
  width:2.2vw !important;
  height:2.2vw !important
}

#skills{
  font-size:3vw !important;
}

.checkmarklist{
  font-size:2vw !important;
}

.checkmarklist:before {
  font-size:1.5vw !important;
}

#UniversityName {font-size:2vh}

#CourseName{font-size:2vh;}

#DepartmentName {font-size:1.5vh}

#CourseDate, #certificateLink{font-size:1.5vh}

#Uni {display:none;}

.researchDescription, .publicationList li h2, .researchHeading, .publicationsHeading,.researchInterest, .thesis{font-size:2vh}


.TableCap {font-size:3vw}

.icon-link {width: 30px;height: 30px;background-color: transparent;}

.btn6, .btn6:link, .btn6:visited  {color: white;font-size: 13px;}

#DataSkills {font-size:1em;}

#notice {font-size:1em}

#break{display:none}

#CV, #Buttons {display:none}

.nav2 a {font-size:25px;padding:2vw;}

.nav2{width:100%}

div.tab button {display: block;padding: 22px 16px;width: 28vw;font-size: 4vw;line-height: 5vw; }

.tabcontent h3 {font-size: 6vw;}

.tabcontent p {font-size: 4vw;line-height:13px;	}

.tabcontent{width:200px;}

.icon-link .fa {color: #fff;line-height: 60px;font-size: 36px;}

.brand-icons {background-color: #ddd;padding: 10px 0;}

.foot{font-size:9px}

.tom1 .skillbar-title {width:90px;font-size:10px;}

.tom2 .skillbar-title {width:110px;font-size:8px;}

.company, .companylocation{ font-size:2vw;font-family: 'Lato';color: black;font-weight: 300;}

.jobtitle{font-size:3vw}

.jobdescription, .joblist {font-size:2vw}

#skills{font-size:2vw}

.joblist{
  width:100% !important
}

}

@media screen and (max-height: 900px){
.help {
  display:none
}
}

/* 1280 is the width of the Mac Pro 13 inches , include min width of the phones otherwise it will apply these specifications instead of the above ones*/

@media screen and (max-width: 1280px) and (min-width: 800px){


#DataSkills {font-size:30px;}

.foot{font-size:1.1vw}
	

.tom1 .skillbar-title {width:150px;font-size:17px;font-weight:bold;}

.tom2 .skillbar-title {width:200px;font-size:17px;font-weight:bold;}

.breakMac{display:none;}


#CourseName{font-size:0.9em;}

#CourseDate{font-size:0.9em;}

.jumbotron h1 {
  font-size:5vw;
  color:white;
  text-align:center;
  margin-left:15px;
  margin-top:65px;
}

.jumbotron p {
  margin-left:-15px;
  font-size:25;
  text-align:center;
  font-family:"open sans condensed";
  color:white;
  width:100%;

}
.icons {margin-right:10px}

.Leftbreak{display:none;}

.wrap1{margin-right:10px}
}




@media screen and (max-width: 1366px) and (min-width: 1281px){


#DataSkills {font-size:30px;}

.foot{font-size:1.1vw}

.tom1 .skillbar-title {width:150px;font-size:17px;font-weight:bold;}

.tom2 .skillbar-title {width:200px;font-size:17px;font-weight:bold;}

.breakMac{display:none;}

#UniversityName {font-size:1.5em;}

#CourseName{font-size:0.9em;}

#CourseDate{font-size:0.9em;}

.jumbotron h1 {
  font-size:4.5vw;
  color:white;
  text-align:center;
  margin-left:15px;
  margin-top:30px;
}

.jumbotron p {
  margin-left:-15px;
  font-size:25;
  text-align:center;
  font-family:"open sans condensed";
  color:white;
  width:100%;

}
.icons {margin-right:10px}

.Leftbreak{display:none;}

.wrap1{margin-right:10px}
}


@media screen and (min-width: 1367px){
	
	.entypo-heart{font-size:20px}
}










