body {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
    }
    
#lefthalf {
   background: url("research.jpg");
   background-size:  contain; 
   background-position: center; 
   background-repeat:   no-repeat;
   width: 30%;
   position: fixed;
   left: 0px;
   height: 100%;
}
#righthalf {
   background-size:  cover; 
   background-position: center center; 
   background-repeat:   no-repeat;
   width: 70%;
   position: absolute;
   right: 0px;
   height: 100%;
   background-color:white;
}

#Head-Title {
	text-align: center;
	font-size:5vw;
	font-family:"Cookie";
	font-weight:100;
	color:black;
	-webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
    animation: mymove 5s infinite;
    animation-delay: 2s;
}
#Sub-Title{
	text-align: center;
	font-size:3vw;
	font-family:"Open Sans Condensed";
	font-weight:150;
	margin-top:-3.2vw;
	color:black;
}
#Summary {
	font-family: 'Open Sans Condensed', sans-serif;
	text-indent:20px;
	font-size:1.7vw;
	margin-right:30px;
	margin-left:30px;
	text-align: justify;
}

.NavBar{
	position:absolute;
}

.MySummary {
	position:absolute;
}


.navigation{
	margin-top:50px;

}

.navigation nav {
  display: flex;
  justify-content: center;
  background-color: white;
}
ul {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 5px;
}
li a {
  display: block;
  color: black;
  text-align: center;
  font-family:'Open Sans Condensed';
  font-size:5vw;
  padding: 16px;
  text-decoration: none;
  border-bottom: transparent solid 1px;
}

.Tamer {
	  border-bottom: #cc0000 solid 1px;
	  color:#cc0000;
}

li a:hover {
  	color: #cc0000;
	background:none;
	transition:all 1s;
	border-bottom: #cc0000 solid 1px;
	opacity:0.9;
	filter:alpha (opacity=90)
}

@import "bourbon";



/* Buttons at the center */

.wrap1 {
  text-align: center;
  text-decoration:none;
  display:block;
}

/* General styling for the links */


.btn6, .btn6:link, .btn6:visited {
  padding: 13px 0;
  border: 1px solid #333;
  font-family:'Open Sans Condensed';
  text-decoration:none;
  color: #333;
  font-weight: 700;
  text-transform: none;
  font-size: 13px;
  letter-spacing: 3px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.btn6:hover, .btn6:link:hover, .btn6:visited:hover {
  background: #333;
  border: 2px solid #333;
  color: #fefefe;
  border-radius: 80px;
}

.icons { 
	text-align:center
}
	



.skillbar {
	position:relative;
	display:block;
	margin: 15px auto;
	width:90%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
width:110px;
	font-weight:bold;
  font-family:'Pangolin';
	font-size:20px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}	

#DataSkills {
	font-family:'Pangolin';
	font-size:3em;
	text-align:center;
}











body {
  font-family: 'Ubuntu', sans-serif;
  width:960px;
}

p{
  color:#525252;
  font-size:12px;
}
.description {
    background-color:red;
    display:block;
    position:absolute;
    border:1px solid #000;
    width:30%;
    height:300px;
    z-index:1;
}
.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:80%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}





.tom1 .skillbar-title {
	position:absolute;
	top:0;
	left:0;
width:130px;
	font-weight:bold;
  font-family:Pangolin;
	font-size:15px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}


.tom2 .skillbar-title {
	position:absolute;
	top:0;
	left:0;
	width:160px;
	font-weight:bold;
	font-family:Pangolin;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:0px;
	top:0;
	font-size:15px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}


.fragment {
  background-color:white;
    position:absolute;
    z-index:1;
    font-size: 12px;
    font-family: tahoma;
    height: 141px;
  width:50%;
    border: 1px solid #ccc;
    color: #555;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
}

.fragment:hover {
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);

}

.fragment img { 
    float: left;
    margin-right: 10px;
}


.fragment h3 {
    padding: 0;
    margin: 0;
    color: #369;
}
.fragment h4 {
    padding: 0;
    margin: 0;
    color: #000;
}
#close {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}
	
.skillbar:hover{
	background-color:black;
}

img{
	width:30%;
	height:90%
}

#notice {
	font-family:'Open Sans Condensed';
	font-size:1.4em;
	color:darkred;
	text-decoration: underline;
	text-align:center;
}
	
	
/*THE TABLE IN EDUCATION SECTION*/

.EdTable {
  align:left;	
  border-collapse: separate;
  border-spacing: 100px 30px;
  width:100%;
}


.EdTable img {
	width:80%
}


#UniversityName {
	color:#d54d7b;
	font-size:2em;
	font-family:'Open Sans Condensed';
	margin:0;
}

#CourseName{
	color:black;
	font-size:1.5em;
	font-family:'Open Sans Condensed';
	margin:0;
	font-weight:bold;
}

#CourseDate{
	color:black;
	font-size:1.5em;
	font-family:'Open Sans Condensed';
	margin:0;
}




blockquote p {
  padding: 0px 15px 0px 0px;
  font-size: 1.2em;    
  float: left;
  background: url(../images/quote_down.png) bottom right no-repeat;
}

blockquote {
  padding: 20px;
  font-size: 1.8em;    
  background: url(../images/quote_up.png) top left no-repeat;
}

cite {
  font-size: 1.2em;
  float: right;    
}






	
	
	