.tooltip {
    position: relative;
    display: inline;
    border-bottom: 1px dotted darkgray;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 28vw;
    background-color: lightgray;
    text-align: center;
    color: black;
    padding: 15px;
    font-size:1.2vw;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .tooltiptext {
    font-size:0.8vw;
    color:black
  }

  .tooltiptitle{
      font-size:2.2vw;
      color:white;
  }
  
